.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  flex: 1;
}

.active {
  display: flex;
}

.inactive {
  display: none;
}

.all-indicators {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  top: 48%;
  justify-content: center;
  z-index: 100;
}

.indicator {
  cursor: pointer;
  height: 0.6rem;
  width: 0.6rem;
  margin: 0px 3px;
  background-color: #eee5ff;
  border-radius: 50%;
  display: inline-block;
}

.active-indicator,
.indicator:hover {
  background-color: #7f3dff;
  height: 1rem;
  width: 1rem;
}
